.contactme{
    padding: 10px;
}

.contact-me-header{
    text-align: center;
}

.button{
    border-radius: 5px;
    border: 1px solid darkorchid;
    color: white;
    background-color: darkorchid;
}

.button:hover{
    font-weight: bold;
    background-color:#06BEE1;
    border-color: #06BEE1;
}

.form{
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}

@media screen and (max-width: 912px){
    .form{
        padding-left: 10%;
        padding-right: 10%;
    }
  }