.header-container{
    display: flex;
    background-color: darkorchid;
    justify-content: center;
    position: absolute;
    top: 25px;
    right: 10px;
    border-radius: 5px;
    filter: drop-shadow(8px 8px 10px black);

}

.hailey-title{
    display:block;
    color: white;
    padding: 10px;
    background-color: #E55381;
    border-radius: 5px;

    position: absolute;
    top: 25px;
    left: 15px;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
    filter: drop-shadow(8px 8px 10px black);

}

/*NAVBAR-STYLING*/
.navbar-style{
    list-style-type: none;
    display: flex;
}
.navbar-style > *{
    color: white;
    padding: 10px;
    text-align: center;
}
.navbar-style > *:hover{
    color: #00FFF7;
}
.navbar-style > * > *{
    text-decoration: none;
}

.nav-link-active{
    color: #06BEE1;
    font-weight: bold;
}

.nav-link{
    color: white;
}

.nav-link-active:hover, .nav-link:hover{
    color: #00FFF7;
    font-weight: bold;
}

@media screen and (max-width: 912px) {
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0px;
        position: relative;
        top: 0px;
        right: 0px;
        filter: none;

    }
    .navbar-style{
        display: flex;
        flex-direction: column;
    }

    .hailey-title{
        color: white;
        padding: 10px;
        background-color: #E55381;
        border-radius: 5px;

        position: absolute;
        top: 25px;
        left: 15px;
        font-weight: bold;
        text-align: right;
        font-size: 30px;
    }
    .navbar-style > *{
        color: white;
        padding: 0px;
        font-size: 20px;
    }
}






